.content {
	padding:10px
	
}
.ts-search {
	padding: 20px 0
}
.ts-list {
	padding:10px 0
}
.ts-title {
	display: flex;
	justify-content: space-between;
	padding: 10px 0
}
.ts-title-right {
	
}
.ts-dynasty {
	padding-right:10px
}
